<!-- common footer -->
<!-- 
Name:Siddharth Mahendrabhai Nahar
Student ID:000930031
Date:17-10-2024
Course:Fall 2024 Web Application Development (CPRG-210-A)
Assignment 3 : Node Daily Assignments
-->
<footer>
    <p>&copy; 2024 Fitness Club. All rights reserved.</p>
</footer>