<%- include('partials/header', { title: 'Thank You' }) %>

<body>
    <h1>Thank you for submission </h1>
</body>

<footer class="thank-you-footer">
    <p>&copy; 2024 Fitness Club. All rights reserved.</p>
</footer>

